/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Cardo, sans-serif;
    font-size: 1.2rem;
    text-align: justify;
    background-color: bisque;
}


.block-1 {
    border-radius: 10px;
}

header {
    background-color: #ffa500;
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px; /* Adjust the margin as needed */
    height: 70px;
    width: 70px;
    margin-top: 6px;
    border-radius: 5px;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.header-top {
    text-align: right;
}

.header-buttons a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-left: 10px;
}

.active {
    font-weight: bold;
}

.hero {
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 40px;
    color: black;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.intro {
    text-align: justify;
    margin-left: 60px;
    margin-right: 60px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 40px;
}


.btn {
    background-color: #ffa500;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff8c00;
}

#place {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 80%;
}

p {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    line-height: 22px;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

hr {
    width: 80%;
    margin: 0 auto;
}

.grid3x3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    height: auto;
    width: auto;
}

.grid3x3>div>img {
    border-radius: 10px;
    height: 300px;
    width: 300px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
